body {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: grey;
    margin: 40px;
}
h1 {
    color: #333;
}

p {
    font-size: 20px;
}

/*imagem*/

.imagem {
    width: 400px;
    height: 280px;
    object-fit: cover;
    border: 4px black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
  
    /*aimação*/

    transition: 0.5s;
}

/*animação mouse*/

.imagem:hover {
    transform: scale(1.1);
}

/*botoes*/

button {
    padding: 12px 25px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button>:hover {
    transform: scale(1.1);
}